

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* reused section */
    .common-button {
    padding: 12px 24px;
    height: 48px;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.common-button:hover {
    background-color: #0056b3; /* Darker blue */
    transform: scale(1.05);
}

/* header section*/
header {
    width: 100%;
    height: 692px;
    background-image: url(/assets/hero-bg.png);
}
/* nav-section */
nav {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav h3 {
    font-size: 34px;
    font-family: sans-serif;
    color: #4E47FF;
    font-weight: bolder;
}
nav button {
    font-size: 16px;
    height: 48px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    color: #ffffff;
    background-color: #4E47FF;
}
/* hero-section */
.banner-section {
    width: 905px;
    text-align: center;
    margin: 0 auto;
    margin-top: 158px;
}

.banner-section h1 {
    font-size: 65px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #252432;
}

.banner-section button {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 12px 36px;
    color: #ffffff;
    background-color: #4E47FF;
    border-radius: 10px;
    cursor: pointer;
}

/* action section */
.action-section {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 328px;
    margin: 0 auto;
    margin-top: 116px;
    margin-bottom: 116px;
    align-items: center;
}

.action-text h3 {
    font-size: 42px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #252432;
    margin-bottom: 12px;
}

.action-text p {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: gray;
    margin-top: 0;
    margin-right: 225px;
}

.action-text button {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    background-color: #4E47FF;
    border-radius: 10px;
}

.action-img img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* productive section */

.productive-section{
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    border-radius: 24px;
    background-color: #eae9ff;
    overflow: hidden;
}

.productive-title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #252432;
    margin-top: 50px;
}

.productive-user {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    gap: 155px;
}

.productive-user h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #4E47FF;
    margin: 0;
}

.productive-user p {
    font-size: 20px;
    color: gray;
    font-family: 'Inter' , sans-serif;
    margin: 0;
}

/* users feedback */

.users-feedback-section {
    width: 1140px;
    height: 342px;
    margin: 0 auto;
    margin-top: 137px;
}

.feedback-section-title {
    font-size: 42px;
    font-weight: bold;
    font-family: 'Raleway' ;
    color: #252432;
    text-align: center;
    margin-top: 0;
}

.users-feedback-content {
    display: flex;
    gap: 20px;
}

.users-feedback{
    width: 366.67px;
    height: 221px;
    overflow: hidden;
    padding-top: 24px;
    padding-left: 24px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 14px;
}

.icone-star img {
    width: 20px;
    height: 20px;
    gap: 4px;
}

.description h1{
    font-family: 'Inter', sans-serif;
    color: #252432;
}

.description p {
    font-family: 'Inter', sans-serif;
    color: rgb(54, 54, 54);
}

.users-info {
    display: flex;
    gap: 12px;
    align-items: center;
    bottom: 5%;
}
.user-img {
    border-radius: 390px;
}
.users-info h3 , h4 {
    margin: 0;
    color: gray;
}

/* focus section */
.focus-section {
      width: 1140px;
      height: 696.77px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 14px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      margin-top: 137px;
    }

    .focus-section h2 {
      font-size: 50px;
      font-weight: bold;
      font-family: 'Ralway' , sans-serif;
      margin : 0;
    }

    .focus-section p {
      font-size: 16px;
      color: gray;
      font-family: 'Inter' , sans-serif;
    }

    .focus-section button {
      width: 195px;
      height: 48px;
      font-size: 16px;
      font-weight: 500;
      font-family: 'Raleway' , sans-serif;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      color: white;
      background-color: #4E47FF;
      margin-bottom: 18px;
    }
    .welcome-img {
      /* width: 840px;
      height: 364.77px; */
      border-radius: 48px;
    }

/* from section */

.touch-section {
    width: 1140px;
    height: 632px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 93px;
}

.touch-section-title {
    font-size: 97px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;;
    color: black;
    width: 528px;
}

.touch-section-form {
    width: 497px;
    height: 490px;
}

.form-group {
    margin-bottom: 19px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    font-family: 'Inter' , sans-serif;
}

input , textarea {
    width: 462px;
    padding: 12px 15px;
    font-size: 20px;
    font-weight: 500px;
    font-family: 'Inter' , sans-serif;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: vertical;
    min-height: 140px;
}

.form-button {
    width: 497px;
    height: 62px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
}

/* footer section */

footer {
    width: 100%;
    height: 428px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.footer-content {
    width: 531px;
    height: 221px;
    margin: 0 auto;
}

.footer-content h3 {
    font-size: 100px;
    font-weight: black;
    font-family: 'Inter' , sans-serif;
    color: #4E47FF;
    margin: 0;
}

.footer-content p {
    font-family: 'Inter' , sans-serif;
    color: gray;
    margin-top: 0;
}

.footer-anchor-section , a {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter' , sans-serif;
    color: #797777;
}
